*,
*::before,
*::after {
    box-sizing: border-box;
}

.grid {
    display: grid;
}

.container {
    grid-template-columns: 1fr 4fr;
    grid-row: 1fr 5fr;
}

header {
    grid-column: 2;
    grid-row: 1 / 2;
    grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

header img {
    width: 50px;
}

header img:first-of-type {
    width: 30px;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: orange;
    padding: 15px;
    color: white;
    font-weight: 800;
}

.sidebar > div:first-of-type {
    grid-template-columns: 1fr 10fr;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    gap: 15px;
    margin-top: 3rem;
}

.sidebar ul li {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.sidebar span {
    margin-left: 1rem;
}

main {
    grid-column: 2;
    grid-row: 2;
}